$items: ("closure": 2, "collar": 3, "length": 3, "pockets": 2, "bpocket": 1);

@each $item, $total in $items {
    @for $i from 1 through $total {
        .#{$item}#{$i} {
            background-image: url(../img/#{$item}/#{$item}#{$i}.svg);
        }
    }
}

// #outline {
//     background-image: url("../img/outline.svg");
//     background-repeat: no-repeat;
//     width:400px;
//     height:500px;
// }

#bpocket, #collar, #closure, #length, #pockets {
    position:absolute;
    width: 400;
    height:400px;
}