$accordion-button-active-bg: #ffffffcb;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: black;
$accordion-button-focus-box-shadow: black;



@import "bootstrap/scss/bootstrap";
